span {
  background-color: #ccc;
  margin-right: 10px;
}

#pagination.prev-next {
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
}

#pagination.prev-next button {
  padding: 20px 40px;
}

#pagination.prev-next button.next-sec {
  background-color: green;
}

#pagination.prev-next button.prev-sec {
  background-color: red;
}
